{% extends "layout.html" %}

{% block content %}
    <h1>Login</h1>
    <form class = "loginpage" action="{{ url_for('login') }}" method="post">
        <label for="username"><i class="fa-solid fa-at form-button"></i> Username:</label>
        <input class = "login-input" type="text" id="username" name="username" placeholder="username...">
        <label for="password"><i class="fa-solid fa-lock form-button"></i> Password:</label>
        <input class = "login-input" type="password" id="password" name="password" placeholder="password..." required>
        <input class = "login-button" type="submit" value="Login">
    </form>
{% endblock %}
