<!-- register.html -->

{% extends "layout.html" %}

{% block content %}
    <h1 class="title">Register</h1>
    <form class = "registerpage" action="{{ url_for('register') }}" method="post">
        <label for="email"><i class="fa-solid fa-envelope form-button"></i> Email:</label>
        <input class = "register-input" type="email" id="email" name="email" required>
        <label for="username"><i class="fa-solid fa-at form-button"></i> Username:</label>
        <input class = "register-input" type="text" id="username" name="username" required>
        <label for="password"><i class="fa-solid fa-lock form-button"></i> Password:</label>
        <input class = "register-input" type="password" id="password" name="password" required>
        <label for="password2"><i class="fa-solid fa-lock form-button"></i> Confirm Password:</label>
        <input class = "register-input" type="password" id="password2" name="password2" required>
        <input class = "register-button" type="submit" value="Register">
    </form>
{% endblock %}
